<div ng-include="'/templates/navbar.html'"></div>

<div class="dashboard">
	<div class="col-md-4">
		<div ng-init="getTeams()" class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<h3 class="panel-title pull-left">Teams</h3>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<form name="teamForm" ng-submit="addTeam()">
					<div class="input-group">
						<input type="text" ng-model="teamName" class="form-control" placeholder="Enter your team name..." required />
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit" ng-disabled="teamForm.$invalid">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
				</form>
				<div class="list-group" style="margin-top: 13px;">
					<a href="" class="list-group-item clearfix" ng-repeat="(id, team) in teams" ng-click="getPlayersByTeam(team)">
						{{team.name}}
						<span class="pull-right">
							<span class="badge">{{team.players.length}}</span>
							<button class="btn btn-xs btn-danger" ng-click="removeTeam(team)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<h3 class="panel-title pull-left">Players <span ng-if="team">in</span> {{team.name}}</h3>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<form name="playerForm" ng-submit="addPlayer()" class="form-inline">
					<div class="input-group col-md-5">
						<select ng-model="playerTeam" class="form-control">
							<option value="">Free Agent</option>
							<option ng-repeat="team in teams" value="{{team.id}}">{{team.name}}</option>
						</select>
					</div>
					<div class="input-group col-md-6">
						<input type="text" ng-model="playerName" class="form-control" placeholder="Player name" required />
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit" ng-disabled="playerForm.$invalid">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
				</form>
				<table class="table">
					<thead>
						<tr>
							<th>Team</th>
							<th>Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in players">
							<td>{{team.name}}</td>
							<td>{{player.name}}</td>
							<td>
								<button class="btn btn-xs btn-info" ng-click="editPlayer(player)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button class="btn btn-xs btn-danger" ng-click="removePlayer(player)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Panel heading</div>
			<div class="panel-body">
				<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
				</canvas>
			</div>
		</div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Panel heading</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>GP</th>
								<th>PTS</th>
								<th>REB</th>
								<th>AST</th>
								<th>STL</th>
								<th>BLK</th>
								<th>TOV</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="modal fade" id="team-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add your team</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="addTeam()">
					
				</form>
			</div>
		</div>
	</div>
</div> -->