<nav class="navbar navbar-default navbar-fixed-top" ng-controller="userController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard/">
        <img id="navlogo" src="../images/basketball.jpg" alt="basketball">
        <span>Beep</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left" id="navitem">
        <li id="dashboard"><a href="#/dashboard/">Dashboard <span class="sr-only">(current)</span></a></li>
        <li id="scorekeep"><a href="#/scorekeep/">Scorekeep</a></li>
        <li id="players"><a href="#/players/">Players</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Welcome {{current_user}}</a></li>
        <li><a href="" ng-click="logout()">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>