<div ng-include="'/templates/navbar.html'"></div>

<div class="dashboard">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-3 col-sm-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title score-title">
								<span class="glyphicon glyphicon-home"></span> Home
							</h3>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body">
							<h1 class="score">{{homeTeam[9]}}</h1>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="panel panel-default team-stat-panel">
						<div class="panel-body team-stat">
							<table class="team-stat">
								<tr ng-repeat="label in teamStatLabels">
									<td class="td-left"><p>{{homeTeam[$index]}}</p></td>
									<td><p><strong>{{label}}</strong></p></td>
									<td class="td-right"><p>{{awayTeam[$index]}}</p></td>
								</tr>
							</table>
							<button type="button" class="btn btn-danger btn-lg btn-block" ng-disabled="isEmpty(homePlayer) && isEmpty(awayPlayer)" ng-click="submit()">Submit</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title score-title">
								<span class="glyphicon glyphicon-new-window"></span> Away
							</h3>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body">
							<h1 class="score">{{awayTeam[9]}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title pull-left">
					<span class="glyphicon glyphicon-home"></span> Home
				</h3>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<th ng-repeat="label in statLabels" style="text-align: center;">
								{{label}}
							</th>
						</thead>
						<tbody>
							<tr ng-repeat="(id, player) in homePlayer" class="scorePlayer">
								<td>
									<div>{{player.name}}</div>
									<button class="btn btn-xs btn-danger" ng-click="remove(homePlayer, homeStat, homeTeam, player)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
								<td ng-repeat="rec in homeStat[id] track by $index" style="vertical-align: middle;">
									<button ng-hide="$index == 8 || $index == 11" class="btn btn-xs btn-primary" ng-click="increment(homeStat, homeTeam, id, $index)">
										<span class="glyphicon glyphicon-arrow-up"></span>
									</button>
									<div>{{rec}}</div>
									<button ng-hide="$index == 8 || $index == 11" ng-if="$index != 8 || $index != 11" class="btn btn-xs btn-danger" ng-click="decrement(homeStat, homeTeam, id, $index)" ng-disabled="homeStat[id][$index] == 0 || checkGoalAttempt(homeStat, id, $index)">
										<span class="glyphicon glyphicon-arrow-down"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2" ng-controller="dashController">
		<div ng-init="getTeams()" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title pull-left">Teams</h3>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<div class="list-group" style="margin-top: 13px;">
					<a href="" class="list-group-item clearfix" ng-repeat="(id, team) in teams" ng-click="getPlayersByTeam(team)">
						{{team.name}}
						<span class="pull-right">
							<span class="badge" style="margin-right: 15px;">{{team.players.length}}</span>
						</span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title pull-left">Players 
					<span ng-if="team">in</span> {{team.name}}
				</h3>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th style="text-align: center;"></th>
							<th style="text-align: center;">Name</th>
							<th style="text-align: center;"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="scorePlayer" ng-repeat="(id, player) in players">
							<td>
								<button class="btn btn-sm btn-primary" ng-click="add(homePlayer, homeStat, homeTeam, player)">
									<span class="glyphicon glyphicon-home"></span>
								</button>
							</td>
							<td style="vertical-align: middle;">{{player.name}}</td>
							<td>
								<button class="btn btn-sm btn-danger" ng-click="add(awayPlayer, awayStat, awayTeam, player)">
									<span class="glyphicon glyphicon-new-window"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title pull-left">
					<span class="glyphicon glyphicon-new-window"></span> Away
				</h3>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<th ng-repeat="label in statLabels" style="text-align: center;">
								{{label}}
							</th>
						</thead>
						<tbody>
							<tr ng-repeat="(id, player) in awayPlayer" class="scorePlayer">
								<td>
									<div>{{player.name}}</div>
									<button class="btn btn-xs btn-danger" ng-click="remove(awayPlayer, awayStat, awayTeam, player)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
								<td ng-repeat="rec in awayStat[id] track by $index" style="vertical-align: middle;">
									<button ng-hide="$index == 8 || $index == 11" class="btn btn-xs btn-primary" ng-click="increment(awayStat, awayTeam, id, $index)">
										<span class="glyphicon glyphicon-arrow-up"></span>
									</button>
									<div>{{rec}}</div>
									<button ng-hide="$index == 8 || $index == 11" ng-if="$index != 8 || $index != 11" class="btn btn-xs btn-danger" ng-click="decrement(awayStat, awayTeam, id, $index)" ng-disabled="awayStat[id][$index] == 0 || checkGoalAttempt(awayStat, id, $index)">
										<span class="glyphicon glyphicon-arrow-down"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
