body {
	background-color: orange;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	position: relative;
}

a {
	color: #00B7FF;
}

#navlogo {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	vertical-align: middle;
}

#logo {
	width: 100px;
	height: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.signin-page {
	padding: 30px;
    width: 400px;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}

.signup-page {
	padding: 40px;
    width: 400px;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}

.home-header {
	text-align: center;
}

#signup-button {
	margin-top: 15px;
}

.dashboard {
	margin-top: 70px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

th, tr, td {
    text-align: center;
    vertical-align: middle;
}

canvas {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1.score {
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}

h3.score-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.playerTable {
    height: 264px;
    overflow-y: scroll;
}

.team-stat {
    margin-left: auto;
    margin-right: auto;
}

.team-stat p {
    font-size: 13px;
}

.td-left {
    padding-right: 30px;
    text-align: right;
}

.td-right {
    padding-left: 30px;
    text-align: left;
}

.pagination {
    margin: 0;
}

.list-item.ng-enter,
.list-item.ng-leave,
.list-item.ng-move {
    transition: 0.7s linear all;
}

.list-item.ng-enter,
.list-item.ng-move {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.list-item.ng-enter.ng-enter-active,
.list-item.ng-move.ng-move-active {
    /*height: 120px;*/
    opacity: 1;
}

.list-item.ng-leave {
    opacity: 1;
    overflow: hidden;
}

.list-item.ng-leave.ng-leave-active {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.view-container {
    position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
    /*background: white;*/
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.view-frame.ng-enter {
    animation: 1s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    animation: 1s fade-out;
    z-index: 99;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    html, body {
        max-width: 480px;
    }

    .signin-page {
        padding: 5px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        border: 0px;
    }

    .signup-page {
        padding: 5px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        border: 0px;
    }

    .playerTable {
        height: 224px;
        overflow-y: scroll;
    }
}