body {
	background-color: orange;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	position: relative;
}

a {
	color: #00B7FF;
}

#navlogo {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	vertical-align: middle;
}

#logo {
	width: 100px;
	height: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.signin-page {
	padding: 30px;
    width: 400px;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}

.signup-page {
	padding: 40px;
    width: 400px;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}

.home-header {
	text-align: center;
}

#signup-button {
	margin-top: 15px;
}

.dashboard {
	margin-top: 70px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

th, tr, td {
    text-align: center;
    vertical-align: middle;
}

canvas {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1.score {
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}

h3.score-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.team-stat {
    margin-left: auto;
    margin-right: auto;
}

.team-stat p {
    font-size: 14px;
}

.td-left {
    padding-right: 30px;
    text-align: right;
}

.td-right {
    padding-left: 30px;
    text-align: left;
}

.table-responsive>.fixed-column {
    position: fixed;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
}